{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    {% block css %} {% endblock %}
</head>
{% block js %}{% endblock %}
<body style="background: white">
{% block main %} {% endblock %}
</body>

</html>
