{% extends "popup/base_popup.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
       .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
            display: inline;
        }

    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'layui/layui.all.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="layui-container" style="margin: 4px">
        <form class="layui-form" enctype="multipart/form-data"
              action="{{ request.path }}{% if to_field %}?to_field={{ to_field }}{% endif %}"
              method="post">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}