{% extends "popup/base_popup.html" %}

{% block main %}
    <script>
        var to_field = '#{{ to_field }}', op = '{{ op }}', id = '{{ id }}', value = '{{ value }}';
        if (to_field) {
            switch (op) {
                case 'create':
                    if (id) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        $option = '<option value=' + id + ' selected>' + value + '</option>';

                        $(to_field, window.parent.document).append($option);
                        window.parent.document.getElementById("{{ to_field }}").dispatchEvent(new Event('change'));
                        $(to_field + '_change,' + to_field + '_delete', window.parent.document).removeClass('layui-btn-disabled');
                    }
                    break;
                case 'update':
                    if (id) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        $(to_field + ' option[value=' + id + ']', window.parent.document).html(value);
                        window.parent.document.getElementById("{{ to_field }}").dispatchEvent(new Event('change'));
                    }
                    break;
            }
        }
    </script>
{% endblock %}
