<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Camus</title>
</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="jumbotron text-xs-center">
                                <label class="control-label col-sm-4" style="align-content: left" for="password">Nueva contrasena</label>
                                <input id="password" name="password" type="password">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <hr>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
