{% load staticfiles %}
{% load thumbnail %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPGO</title>
    <link href="{% static 'common/css/css.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'common/css/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'common/css/buttons.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'common/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>


    {% block css_block_top %} {% endblock %}
    <script src="{% static 'common/js/jquery.min.js' %}"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'common/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'common/js/popper.min.js' %}"></script>
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'common/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css"/>
    {% block js_block_top %}{% endblock %}

    <style>
        .select2-selection.select2-selection--single.form-control {
            height: 40px;
        }
    </style>
</head>
<body class="main_body_bg_color">
<div class="wrapper">
    <!-- header starts here -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">SPGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if request.user.role == "ADMIN"  or request.user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" id="base_socios" href="{% url 'socio:list' %}">Socios</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actividades
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'actividad:list' %}">Actividades</a>
                                <a class="dropdown-item" href="{% url 'actividad:list-emc' %}">EMC</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Facturación
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'facturacion:list-factura' %}">Facturas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'facturacion:list-servicio' %}">Servicios</a>
                                <a class="dropdown-item" href="{% url 'facturacion:list-periodo' %}">Periodos</a>
                                <a class="dropdown-item"
                                   href="{% url 'socio:list-historial-tipo-socio-precio-cuota' %}">Precio cuota</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'facturacion:list-gasto' %}">Gastos</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" id="leads" href="{% url 'laboratorios:list' %}">Laboratorios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Contenido
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'contenido:categoria_list' %}">Categorias</a>
                                <a class="dropdown-item" href="{% url 'contenido:noticias_list' %}">Noticias</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'contenido:menu_list' %}">Menús y Páginas</a>
                                <a class="dropdown-item" href="{% url 'contenido:slider_list' %}">Slider</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Chat
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'chat:list-thread' %}">Grupos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="leads"
                               href="{% url 'common:configuracion_list' %}">Configuraciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="leads"
                               href="{% url 'common:notificacion_create' %}">Notificación</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-right my-2 my-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle abcd nav-link" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                {% if not request.user.profile_pic %}
                                    <img src="{% static 'images/user.png' %}" alt="Micro profile pic">
                                {% else %}
                                    {% thumbnail request.user.profile_pic "25x25" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                {% endif %}
                                <b class="caret"></b></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'cambiar_password' %}"><i class="fa fa-key"></i>
                                    Cambiar Contraseña</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>
                                    Salir</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
    </header>
    <!-- header ends here -->
    <!-- main_container starts here -->
    <div id="mainbody" class="main_container">
        <!-- breadcrumb starts here -->
        {% block breadcrumb %}
        {% endblock %}
        <!-- breadcrumb ends here -->

        <div class="col-xs-6 row align-items-center justify-content-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- main_container ends here -->
</div>


<script src="{% static 'common/js/moment-with-locales.min.js' %}"></script>
<script defer src="{% static 'common/js/all.js' %}"></script>
<script src="{% static 'common/js/popper.min.js' %}"></script>
<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
<script src="{% static 'common/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'common/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'common/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'common/js/buttons.print.min.js' %}"></script>
<script src="{% static 'common/js/pdfmake.js' %}"></script>
<script src="{% static 'common/js/vfs_fonts.js' %}"></script>
<script src="{% static 'common/js/jszip.js' %}"></script>
<script src="{% static 'common/js/buttons.html5.min.js' %}"></script>

<script src="{% static 'common/js/dataTables.responsive.min.js' %}"></script>

<script src="{% static 'js/index.js' %}"></script>

{% block js_block_bottom %}
{% endblock %}


<script type="text/javascript">
    $(document).ready(function () {
        var word = window.location.pathname.split('/')[1];
        $('#' + word).addClass('active')

        //Anhade estilo a los botones de los datatables
        $('.dt-buttons button').removeClass('dt-button buttons-pdf buttons-html5 buttons-print btn-primary')
        $('.dt-buttons button').addClass('btn btn-primary')


    })
</script>
</body>
</html>
