{% extends 'base.html' %}
{% load staticfiles %}
{% block css_block_top %}
{% endblock %}

{% block js_block_top %}
{% endblock %}

{% block content %}
    <div class="overview_form_block row marl justify-content-center p_100">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="float-left">
                            <b>Cambiar Contraseña</b>
                        </div>
                    </div>

                    <div class="container">
                        <form method="post">
                            {% csrf_token %}
                            {% include 'bs4_form.html' with form=form %}

                            <button type="submit" class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block_bottom %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}
