{% extends 'base.html' %}
{% load staticfiles %}
{% block css_block_top %}
{% endblock %}

{% block js_block_top %}
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'common:configuracion_list' %}">Configuraciones</a></li>
            <li class="breadcrumb-item">{% if form.instance.id %}Editar{% else %}Crear{% endif %}</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <!-- heading_create ends here -->
        <div class="table_container_row row marl">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Configuración: {{ form.instance.descripcion }}
                        </div>
                        <div class="div-padding">

                            {% include 'bs4_form.html' with form=form %}

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- main_container ends here -->
    </form>
{% endblock %}

{% block js_block_bottom %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}
