{% extends 'base.html' %}
{% load staticfiles %}
{% block js_block_top %}
{% endblock %}
{% block content %}
    <!-- main_container starts here -->
    <div class="main_container">
        <!-- heading_create starts here -->
        <div class="row marl heading_create">
            <div class="heading col-md-12">
                <div class="no-gutters row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <!-- heading_create ends here -->

        <div class="table_container_row row marl">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title list">
                            Lista de Configuraciones
                        </div>
                        <div class="table-responsive ">
                            <table id="configuracion" class="table table-striped table-bordered row-border"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th class="text_input_search">Descripción</th>
                                    <th>Valor</th>
                                    <th class="buttos_accion"></th>
                                </tr>
                                <tr>
                                    <th class="text_input_search"></th>
                                    <th></th>
                                    <th class="buttos_accion"></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="marl row text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main_container ends here -->
{% endblock %}

{% block js_block_bottom %}
    <script>
        $(document).ready(function () {
            var token = "{{request.user.auth_token.key}}";

            var cols_title_text_input_seach = $('#configuracion thead tr:eq(0) th.text_input_search');
            var cols_text_input_seach = $('#configuracion thead tr:eq(1) th.text_input_search');

            var url_editar_configuracion = "{% url 'common:configuracion_update' uuid=99999 %}".replace(/99999/, "");

            var table = $('#configuracion').DataTable({
                orderCellsTop: true,
                dom: 'lrtip',
                "responsive": true,
                "serverSide": true,
                "ajax": {
                    'url': "/api/v1/configuracion/?format=datatables",
                    'type': 'GET',
                    'data': {},
                    "beforeSend": function(xhr){
                         xhr.setRequestHeader("Authorization",
                           "Token " + token);
                     }
                },
                "columns": [
                    {"data": "descripcion", "sortable": true, "name": "descripcion"},
                    {
                        "data": "valor", "sortable": false, "name": "valor"
                    },
                    {
                        "data": "uuid", "sortable": false, "searchable": false,
                        render: function (data, type, full, meta) {
                            if (type === 'display') {
                                data = '<a href="' + url_editar_configuracion + data + '" class="btn btn-success " style="color:white;"><i class="fas fa-pencil-alt"></i>Editar</a>\n';
                                return data;
                            }
                            return null;
                        }
                    }
                ],
                "language": {
                    "decimal": "",
                    "emptyTable": "No se encontraron configuraciones",
                    "info": "Mostrando desde _START_ hasta _END_ de un total de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando desde 0 hasta 0 de un total de 0 entradas",
                    "infoFiltered": "(filtrado de un total de _MAX_ entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron configuraciones",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar columna ascendentemente",
                        "sortDescending": ": Ordenar columna descendentemente"
                    }
                }
            });
            table.buttons(0, null).container().appendTo(table.table().container());

            cols_text_input_seach.each(function (colIdx) {
                $('<input type="text" placeholder="Buscar" class="form-control" style="width:80%;display:inline"/>').appendTo($(this)).on('keydown focusout', function (ev) {
                    // se recrea solo si aprieta enter o la casilla se pone vacia (luego de ir borrando)

                    if (ev.keyCode === 13 || (ev.type === "focusout" && this.last_query !== this.value)) {
                        //table.column(colIdx).search(this.value).draw();
                        table.column(cols_title_text_input_seach[colIdx]).search(this.value.replace(/;/g, "|"), true, false).draw();

                        this.last_query = this.value;
                    }
                }).on('click', function (e) {
                    e.stopPropagation();
                });
                ;
            });


            $('#configuracion tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    </script>
{% endblock %}
