{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if request.user != user_obj %}
      <li class="breadcrumb-item"><a href="{% url 'common:users_list' %}">Users</a></li>
      <li class="breadcrumb-item">{% if user_obj %}Edit{% else %}Create{% endif %}</li>
    {% endif %}
  </ol>
</nav>

{% endblock breadcrumb %}
{% block content %}
<form id="add_form" method="POST" action="" novalidate>
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
         <div class="card-title text-center">
          {% if user_obj %}EDIT{% else %}CREATE{% endif %} USER
        </div>
          <div class="row marl">
            <div class="col-md-12">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_firstname">First Name{% if user_form.first_name.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="first_name" value="{% if user_obj %}{{ user_obj.first_name }}{% else %}{{request.POST.first_name}}{% endif %}" placeholder="First Name">
                </div>
                <span class="error" id="id_first_name">{{ errors.first_name }}</span>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_lastname">Last Name{% if user_form.last_name.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="last_name" value="{% if user_obj %}{{ user_obj.last_name }}{% else %}{{request.POST.last_name}}{% endif %}" placeholder="Last Name">
                </div>
                <span class="error" id="id_last_name">{{ errors.last_name }}</span>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_username">Username{% if user_form.username.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="username" value="{% if user_obj %}{{ user_obj.username }}{% else %}{{request.POST.username}}{% endif %}" placeholder="Username">
                </div>
                <span class="error" id="id_username">{{ errors.username }}</span>
              </div>
              <div class="filter_col col-md-12" {% if user_obj %} style="display: none;" {% endif %}>
                <div class="form-group">
                  <label for="id_email">Email Address{% if user_form.email.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="email" value="{% if user_obj %}{{ user_obj.email }}{% else %}{{request.POST.email}}{% endif %}" {% if user_obj %} readonly=""{% endif %} placeholder="Email">

                </div>
                <span class="error" id="id_email">{{ errors.email }}</span>
              </div>
              <div class="filter_col col-md-12" {% if request.user.role != 'ADMIN' and not request.user.is_superuser or user_obj.email == admin_email %}style="display:none;"{% endif %}>
                  <div class="form-group">
                    <label for="id_role">User Role{% if user_form.role.field.required %}<span class="error">*</span>{% endif %}</label>
                    {% if request.user.role == 'ADMIN' or request.user.is_superuser %}
                      <select name="role">
                      {% for key, value in form.role.field.choices %}
                      <option value="{{key}}" {% if value == user_obj.role %}selected="selected"{% elif user_obj.is_superuser and value == "ADMIN" %}selected{% endif %}>{{value}}</option>
                      {% endfor %}
                      </select>
                    {% else %}
                    <select name="role">
                      <option value="{{user_obj.role}}">{{user_obj.role}}</option>
                    </select>
                    {% endif %}
                    <span class="error" id="id_role">{{ user_form.role.errors }}</span>
                  </div>
                </div>
              {% if not user_obj %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Password{% if user_form.password.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="password" class="form-control" name="password" value="{{request.POST.password}}" placeholder="Password">
                </div>
                <span class="error" id="id_password">{{ errors.password }}</span>
              </div>
              {% endif %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Upload Profile Picture{% if user_form.profile_pic.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="file" name="profile_pic" accept="image/*" class="form-control" />
                </div>
                {% if user_obj %}<span>{{user_obj.profile_pic }}</span>{% endif %}
                <span class="error" id="id_profile_pic">{{ errors.profile_pic }}</span>
              </div>
            </div>
          </div>
          <div class="row marl buttons_row form_btn_row text-center">
            <button class="btn btn-default save" type="submit">Save</button>
            <a href="{% if not user_obj or request.user.is_superuser or request.user.role == 'ADMIN' %}{% url 'common:users_list' %}{% else %}{% url 'common:profile' %}{% endif %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
{% block js_block_bottom %}
<script src="{% static 'socio/js/jquery.form.js' %}"></script>
<script type="text/javascript">
 $('form#add_form').ajaxForm({
    type:'POST',
    dataType:'json',
    url: ".",
    data:$('#add_form').serialize(),
    success: function(data) {
      if(data.error){
        $('.error').html('')
        for (var key in data.errors) {
          $('#id_'+key).html("<p>" + data.errors[key][0] + "</p>");
        };
      }
        else{
          window.location = data.success_url;
        }
    }
  });

</script>
{% endblock %}
