{% extends 'base.html' %}
{% load staticfiles %}
{% block css_block_top %}

{% endblock %}

{% block js_block_top %}
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Crear Notificación</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <!-- heading_create ends here -->
        <div class="table_container_row row marl justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Notificación
                        </div>
                        <div class="div-padding">
                            {% include 'bs4_form.html' with form=form %}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main_container ends here -->
    </form>
{% endblock %}

{% block js_block_bottom %}
    <script>
        $(document).ready(function () {
            var tipo_enviar_a = $('#{{  form.tipo_enviar_a.auto_id  }}');

            var socio = $('#{{  form.socio.auto_id  }}');
            var socio_container = socio.parent().parent().parent();

            tipo_enviar_a.on('change', tipo_enviar_renders);

            function tipo_enviar_renders() {

                socio_container.hide();

                if (tipo_enviar_a.val() === "SOCIO") {
                    socio_container.show();
                }
            }
            tipo_enviar_renders();
        });
    </script>
{% endblock %}
