{% extends "popup/base_popup.html" %}
{% block css %}
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
       .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
            display: inline;
        }

    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'layui/layui.all.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="layui-container" style="margin: 4px">
        <form class="layui-form" enctype="multipart/form-data"
              action=""
              method="post">
            {% csrf_token %}



            <div class="overview_form_block row marl justify-content-center">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                     <div class="card-title text-center">
                      {% if persona %}EDITAR{% else %}CREAR{% endif %} PERSONA
                    </div>
                      <div class="row marl">
                        <div class="col-md-12">
                          <div class="filter_col col-md-12">
                              {% include 'bs4_multi_form.html' %}
                          </div>
                          <div class="filter_col col-md-12">
                              {{ email_formset.management_form }}
                              {% for email_form in email_formset %}
                                  {{ email_form.DELETE }}
                                  <div class="form-group">
                                        <div class="row form-row email-form-row">
                                            <div class="col-sm-2 col-form-label">
                                                <label>{{ email_form.email.label }}</label>
                                            </div>
                                            <div class="col-sm-10">


                                                {# Si el form tiene datos, css para campo valido o invalido #}
                                                {% if email_form.is_bound %}
                                                    <div class="input-group">
                                                        {% if email_form.email.errors %}
                                                            {% render_field email_form.email class="form-control is-invalid" %}
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success add-form-row email-form-btn">+</button>
                                                            </div>
                                                            {% for error in email_form.email.errors %}
                                                                <div class="invalid-feedback">
                                                                    {{ error }}
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% render_field email_form.email class="form-control is-valid" %}
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success add-form-row email-form-btn">+</button>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {# Si el form no tiene datos #}
                                                {% else %}
                                                    <div class="input-group">
                                                        {# Como tdv esta vacio el form #}
                                                        {% if persona %}
                                                            {{email_form.id}}
                                                            {{email_form.persona}}
                                                        {% endif %}
                                                        {{email_form.email}}
                                                        <div class="input-group-append">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success add-form-row email-form-btn">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if email_form.field.help_text %}
                                                    <small class="form-text text-muted">{{ email_form.email.help_text }}</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                  </div>
                              {% endfor %}
                          </div>

                          <div class="filter_col col-md-12">
                              {{ telefono_formset.management_form }}
                              {% for telefono_form in telefono_formset %}
                                  {{ telefono_form.DELETE }}
                                  <div class="form-group">
                                        <div class="row form-row telefono-form-row">
                                            <div class="col-sm-2 col-form-label">
                                                <label>{{ telefono_form.numero.label }}</label>
                                            </div>
                                            <div class="col-sm-10">

                                                {% if telefono_form.is_bound %}
                                                    <div class="input-group">
                                                        {% if telefono_form.numero.errors %}
                                                            {% render_field telefono_form.numero class="form-control is-invalid" %}
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success add-form-row telefono-form-btn">+</button>
                                                            </div>
                                                            {% for error in telefono_form.email.errors %}
                                                                <div class="invalid-feedback">
                                                                    {{ error }}
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% render_field telefono_form.numero class="form-control is-valid" %}
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success add-form-row telefono-form-btn">+</button>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% else %}
                                                    <div class="input-group">
                                                        {% if persona %}
                                                            {{telefono_form.id}}
                                                            {{telefono_form.persona}}
                                                        {% endif %}
                                                        {{telefono_form.numero}}
                                                        <div class="input-group-append">
                                                            <button class="btn btn-success add-form-row telefono-form-btn">+</button>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if telefono_form.field.help_text %}
                                                    <small class="form-text text-muted">{{ telefono_form.numero.help_text }}</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                  </div>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            /**
             * Script para cerrar el popup window en caso que se haya guardado con exito.
             */
            var guardado = '{{ guardado }}';
            if (guardado) {
                window.close();
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            /**
             * Script para actualiizar las opciones de ciudades en base a la opcion de departamento seleccionada.
             */
            $("#id_departamento").change(function () {
                var url = "{% url 'ajax_ciudades' %}";

                // get the selected country ID from the HTML input
                var departamentoId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        // add the country id to the GET parameters
                        'departamento_id': departamentoId
                    },
                    success: function (data) {
                        // `data` is the return of the `load_cities` view function
                        // replace the contents of the city input with the data that came from the server
                        $("#id_ciudad").html(data);
                    }
                });
            });
        });
    </script>

    <script type='text/javascript'>
        $(document).ready(function () {
            updateRemoveButtons('.email-form-row');
            updateRemoveButtons('.telefono-form-row');

        })

        function updateRemoveButtons(rowFormType) {
            var conditionRow = $('.form-row'+rowFormType+':not(:last)');
            conditionRow.find('.btn.add-form-row')
            .removeClass('btn-success').addClass('btn-danger')
            .removeClass('add-form-row').addClass('remove-form-row')
            .html('-');
        }
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix, rowFormType) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();

            newElement.find(':input:not(:last)').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            total++;

            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);

            updateRemoveButtons(rowFormType);

            return false;
        }

        /**
         * Metodo para eliminar un form de un formset.
         * Usado cuando se esta utilizando este form para la creacion de un nuevo persona.
         * Como no tiene que lidiar con eliminacion de forms en el backend, directamente
         * elimina los forms que no se van.
         * @param prefix prefix del formset del form a eliminar
         * @param btn boton de eliminar que fue clickeado
         * @param rowFormType tipo de form
         * @returns {boolean}
         */
        function createDeleteForm(prefix, btn, rowFormType) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row'+rowFormType).remove();
                var forms = $('.form-row'+rowFormType);
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        /**
         * Metodo para eliminar un form de un formset.
         * Usado cuando se esta utilizando este form para la edicion de un persona existente.
         * Al eliminar el form, solo lo oculta de la vista, y marca la variable form.DELETE con un
         * attr check, para que luego en el backend con: formset.deleted_objects, se puedan ver los forms
         * que se deben eliminar.
         * @param prefix prefix del formset del form a eliminar
         * @param btn boton de eliminar que fue clickeado
         * @param rowFormType tipo de form
         * @returns {boolean}
         */
        function updateDeleteForm(prefix, btn, rowFormType) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1){
                //oculta el form eliminado
                btn.closest('.form-row'+rowFormType).attr("style", "display: none;");
                //chequea el checkbox de eliminacion de django que esta al lado del boton
                btn.siblings()[0].setAttribute("checked",'')
                var forms = $('.form-row'+rowFormType);
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row.email-form-btn', function(e){
            e.preventDefault();
            cloneMore('.form-row.email-form-row:last', 'email_form', '.email-form-row');
            return false;
        });

        $(document).on('click', '.remove-form-row.email-form-btn', function(e){
            e.preventDefault();
            var persona = "{{ persona }}";
            if (persona === "" || persona == null) {
                createDeleteForm('email_form', $(this), '.email-form-row');
            } else {
                updateDeleteForm('email_form', $(this), '.email-form-row');
            }
            return false;
        });

        $(document).on('click', '.add-form-row.telefono-form-btn', function(e){
            e.preventDefault();
            cloneMore('.form-row.telefono-form-row:last', 'telefono_form', '.telefono-form-row');
            return false;
        });

        $(document).on('click', '.remove-form-row.telefono-form-btn', function(e){
            e.preventDefault();
            var persona = "{{ persona }}";
            if (persona === "" || persona == null) {
                createDeleteForm('telefono_form', $(this), '.telefono-form-row');
            } else {
                updateDeleteForm('telefono_form', $(this), '.telefono-form-row');
            }
            return false;
        });
    </script>

    <script>
         // Agrega el id de persona a los inputs hiddens de los inputs
         // de los campos mails y telefonos preexistente
         $(".persona-hidden").attr("value","{{ persona.id }}")
         //ocultar los checkkboxes de delete del formset de django
         $("[type='checkbox'][name*=DELETE]").attr("style","display: none;")
    </script>

    <script>
        $(document).ready(function () {

            //Agrandar la altura del combobox de django autocomplete light para el ruc
            $(".select2-selection.select2-selection--single.form-control").attr("style","height:40px;")

            //importar layer.js si todavia no se hizo
            var layui_import = typeof layui !== typeof undefined;
            if (!layui_import) {
                $.getScript("/static/layer/layer.js", function () {
                });
            }

            //crear un div que contenga los botones de agregar, editar, eliminar razon social
            var e = document.createElement('div');
            //anhadir el html de los botones al elemento creado
            e.innerHTML = '<div class="layui-btn-group"><a class="layui-btn layui-btn-mini" style="color: white;" id="id_razonsocial_add">Agregar</a><a class="layui-btn layui-btn-mini layui-btn-normal layui-btn-disabled" style="color: white;" id="id_razonsocial_change">Editar</a><a class="layui-btn layui-btn-mini layui-btn-danger layui-btn-disabled" style="color: white;" id="id_razonsocial_delete">Eliminar</a></div>';
            //insertar el elemento al lado del autocomplete de razon social
            $("[data-autocomplete-light-url]")[0].parentElement.appendChild(e)

            $('#id_razonsocial_add').click(function () {
                    layer.open({
                        title: "Agregar razón social",
                        type: 2,
                        area: ['400px', '500px'],
                        content: '/razonsocial/popup/' + '?to_field=id_razonsocial',
                        success: function (layer, index) {
                            id_razonsocial_isDisabled();
                        }
                    });
                });

            $("#id_razonsocial_change").click(function () {
                var id = $('#id_razon_social').val();
                if (id) {
                    layer.open({
                        title: "Editar razón social",
                        type: 2,
                        area: ['400px', '500px'],
                        content: '/razonsocial/popup/' + id + '?to_field=id_razonsocial',
                        success: function (layer, index) {
                            //elimina todas las opciones para limpiar el campo
                            //que haga nomas ajax de vuelta
                            $('#id_razon_social option').remove()
                            $("#id_razonsocial_change,#id_razonsocial_delete").addClass('layui-btn-disabled');
                        }
                    });
                }
            });

            $("#id_razonsocial_delete").click(function () {
                var id = $('#id_razon_social').val();
                var value = $('#id_razon_social option[value=' + id + ']').text();
                var indexGood = value.lastIndexOf('>');
                var valueN = indexGood > 0 ? value.substring(indexGood + 1, value.length) : value;
                if (id) {
                    layer.confirm('Está seguro de eliminar ' + valueN + ' ?', {icon: 3, title: 'Eliminar razón social', btn: ['Si','No']}, function (index) {
                        $.ajax({
                            type: "POST",
                            data: {},
                            url: '/razonsocial/popup/delete/' + id + '/',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                            },
                            success: function (data, textStatus) {
                                layer.close(index);
                                $('#id_razonsocial option[value=' + data.id + ']').remove();
                                //elimina todas las opciones para limpiar el campo
                                //que haga nomas ajax de vuelta
                                $('#id_razon_social option').remove();
                                $("#id_razonsocial_change,#id_razonsocial_delete").addClass('layui-btn-disabled');

                                return false;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                layer.alert('Error ' + XMLHttpRequest.responseText, {title: 'Error', btn: ['Ok']})
                            }
                        });
                    });
                }
            });

            // En caso necesario deshabilita los botones de editar y eliminar razon social
            function id_razonsocial_isDisabled() {
                if ($('#id_razon_social').val()) {
                    if ($('#id_razon_social').val().length === 1)
                        $("#id_razonsocial_change,#id_razonsocial_delete").removeClass('layui-btn-disabled');
                    else
                        $("#id_razonsocial_change,#id_razonsocial_delete").addClass('layui-btn-disabled');
                } else {
                    $("#id_razonsocial_change,#id_razonsocial_delete").addClass('layui-btn-disabled');
                }
            }

            // Cada vez que cambia el valor del autocomplete razon social
            // chequea si habilitar o no los botones
            document.querySelector('#id_razon_social').onchange=function() {
                id_razonsocial_isDisabled();
            };

            id_razonsocial_isDisabled();
        })
    </script>
{% endblock %}
