<option value="">---------</option>
{% for servicio in servicios %}
<option value="{{ servicio.pk }}" precio_defecto="{{ servicio.precio_defecto }}" tipo_iva_defecto="{{ servicio.tipo_iva_defecto }}">{{ servicio.nombre }}</option>
{% endfor %}
